@charset "UTF-8";
.alta-formulario div, .listado div, .portada div, .imagen-inicio div, .opcion-menu div {
  display: flex;
  align-items: center; }

/* DISEÑO GRID CONTENEDOR GENERAL*/
body div {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 0.1fr auto auto;
  grid-template-areas: "header header" "nav main" "footer footer";
  min-height: 100vh; }

.alta-formulario {
  padding: 20px; }
  .alta-formulario div {
    min-height: 30vh;
    font-size: 25px; }

.animated-image {
  transition: transform 0.3s; }

.animated-image:hover {
  transform: scale(1.05); }

.listado {
  padding: 20px; }
  .listado div {
    min-height: 100vh;
    font-size: 15px;
    display: inline-block; }
    .listado div table tbody tr td img {
      width: 45px;
      height: 45px; }

.modal-content {
  width: 500px;
  min-height: 70vh;
  align-items: center; }

.color-izquierdo-configuracion {
  background-color: #d72828; }

.icon-configuracion {
  color: #ed1313; }

.color-izquierdo-asistencia {
  background-color: #ff9500; }

.icon-asistencia {
  color: #e89725; }

.color-izquierdo-justificacion {
  background-color: #22d54c; }

.icon-justificacion {
  color: #32cf0a; }

.color-izquierdo-sector {
  background-color: #ff9500; }

.icon-sector {
  color: #e89725; }

.color-izquierdo-Stock-Elementos {
  background-color: #ff9500; }

.icon-Stock-Elementos {
  color: #e89725; }

.color-izquierdo-Gestion-Ausentismo {
  background-color: #0252ff; }

.icon-Gestion-Ausentismo {
  color: #0818c4; }

.color-izquierdo-Marcado {
  background-color: #0252ff; }

.icon-Gestion-Marcado {
  color: #0818c4; }

.color-izquierdo-Licencia {
  background-color: #22d54c; }

.icon-Gestion-Licencia {
  color: #32cf0a; }

/* FORMATO DE CABEZACERA */
header {
  background-color: #164b60;
  color: #fff;
  padding: 7px 0;
  grid-area: header;
  max-height: 15vh; }
  header h1 {
    text-align: center;
    font-size: 20px; }
  header section {
    display: flex;
    justify-content: right; }
    header section ul li a {
      font-size: 30px;
      color: #fff; }

/* FORMATO DE MENU DE NAVEGACION */
nav {
  grid-area: nav;
  height: auto;
  background-color: #1b6b93; }
  nav div {
    padding: 10px;
    min-height: 80px;
    color: #fff; }
    nav div nav {
      width: fit-content; }

/* FORMATO DE CONTENIDO */
.portada {
  padding: 20px;
  grid-area: main; }
  .portada div {
    min-height: 30vh;
    justify-content: space-around;
    flex-wrap: wrap; }
    .portada div div {
      flex-direction: column;
      box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(54, 54, 54, 0.19); }
      .portada div div i {
        color: #99ce59;
        font-size: 90px; }
      .portada div div div {
        text-align: center;
        width: 230px; }

/* FORMATO DE CONTENIDO DE INICIO*/
.imagen-inicio {
  padding: 20px;
  grid-area: main; }
  .imagen-inicio div {
    justify-content: center;
    background-repeat: no-repeat;
    min-height: 10vh;
    box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(54, 54, 54, 0.19); }

.opcion-menu {
  padding: 20px;
  grid-area: main; }
  .opcion-menu div {
    min-height: 12vh;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse; }
    .opcion-menu div div div a {
      color: white;
      text-align: center;
      padding: 5px;
      width: 20vh; }
    .opcion-menu div div div i {
      font-size: 65px; }

.listado {
  padding: 20px;
  grid-area: main; }
  .listado div {
    min-height: 50vh;
    width: 90%; }

footer {
  background-color: #164b60;
  padding: 10px 0;
  font-size: 18px;
  grid-area: footer; }
  footer p {
    color: #fff;
    text-align: center; }

/* MEDIA QUERY PARA PANTALLAS PEQUEÑAS */
@media screen and (max-width: 750px) {
  .grid-contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header" "nav" "main" "footer"; }
  /* main {
        min-height: auto;
    } */ }

@media screen and (max-width: 750px) {
  .alta-formulario div {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .alta-formulario div div {
      position: relative;
      width: auto; } }

@media screen and (max-width: 750px) {
  .portada div {
    display: flex;
    align-items: center;
    flex-direction: column; } }
