/* 
*{
    margin: 0;
    padding: 0;
} */

/* DISEÑO GRID CONTENEDOR GENERAL*/
/* .grid-contenedor {
  font-family: Arial, sans-serif; */
  /* margin: 0;
  padding: 0; */
  /* display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  min-height: 100vh;
} */

/* FORMATO DE CABEZACERA */
/* header {
  background-color: #164b60;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  grid-area: header;
}
header h1{
  font-size: 20px;
} */

/* FORMATO DE MENU DE NAVEGACION */
/* nav {
  background-color: #1b6b93;
  color: #fff;
  padding: 10px;
  min-height: 80px;
  grid-area: nav;
} */

/* FORMATO DE CONTENIDO */
/* main {
  padding: 20px;
  grid-area: main;
} */

/* FORMATO DE PIE */
/* footer {
  background-color: #164b60;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  grid-area: footer;
} */

/* MEDIA QUERY PARA PANTALLAS PEQUEÑAS */
/* @media screen and (max-width: 750px) {
  .grid-contenedor {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas:
          "header"
          "nav"
          "main"
          "footer";
  } */

  /* main {
      min-height: auto;
  } */
/* } */

/* FOTO DE PORTADA */
/* .foto{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: auto; */
  /* width: auto; */
  /* box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(54, 54, 54, 0.19);
} */


/* FORMULARIO DE EMPLEADO */

/* .agregarusuario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
} */


/* @media screen and (max-width: 750px){
  .agregarusuario{
      flex-direction: column;
      align-items: center;
  }
  
} */


/*ANIMACION DE IMAGENES EN LA REGISTRACION*/
/* .fotos-alta {
  position: relative;
  width: auto;
} */
/* .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.432); */
  /* background-color: #008CBA; */
  /* overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
} */

/* .fotos-alta:hover .overlay {
  bottom: 0;
  height: 100%;
} */

/* .text {
  color: white;
  text-align: center;
  font-size: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* align-items: center;
} */