/* DISEÑO GRID CONTENEDOR GENERAL*/
body {
    div {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 0.1fr auto auto;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
        min-height: 100vh;
    }
}

// FORMATO DE PAGINA DE FORMULARIO DE ALTA
.alta-formulario {
    padding: 20px;
    div {
        @extend %flex-center;
        // display: flex;
        // align-items: center;
        min-height: 30vh;
        font-size: 25px;
    }
}

// ANIMACION DE IMAGEN
// Agregamos una transición para suavizar la animación
.animated-image {
    transition: transform 0.3s; 
  }
  
//   Escalamos la imagen al 110% cuando se pasa el mouse sobre ella
  .animated-image:hover {
    transform: scale(1.05);
  }

// TABLA DE USUARIOS REGISTRADOS
  .listado {
    padding: 20px;
    div {
        // display: flex;
        // align-items: center;
        @extend %flex-center;
        min-height: 100vh;
        font-size: 15px;
        
        display: inline-block;

        table{
          tbody{
            tr{
              td{
                img{
                  width: 45px;
                  height: 45px;
                }
              }
            }
            
          }
        }
    }
}

// MODAL DE ACTUALIZAR STOCK
.modal-content{
  width: 500px;
  min-height: 70vh;
  align-items: center;
}


// COLOR DE ICONOS Y MENU DE LA PAGES GESTION
.color-izquierdo-configuracion{
  background-color: rgb(215, 40, 40);
}
.icon-configuracion{
  color: rgb(237, 19, 19);
}

.color-izquierdo-asistencia{
  background-color: #ff9500;
}
.icon-asistencia{
  color: #e89725;
}


.color-izquierdo-justificacion{
  background-color: rgb(34, 213, 76);
}
.icon-justificacion{
  color: rgb(50, 207, 10);
}

.color-izquierdo-sector{
  background-color: #ff9500;
}
.icon-sector{
  color: #e89725;
}

.color-izquierdo-Stock-Elementos{
  background-color: #ff9500;
}
.icon-Stock-Elementos{
  color: #e89725;
}

.color-izquierdo-Gestion-Ausentismo{
  background-color: #0252ff;
}
.icon-Gestion-Ausentismo{
  color: #0818c4;
}

.color-izquierdo-Marcado{
  background-color: #0252ff;
}
.icon-Gestion-Marcado{
  color: #0818c4;
}

.color-izquierdo-Licencia{
  background-color: rgb(34, 213, 76);
}
.icon-Gestion-Licencia{
  color: rgb(50, 207, 10);
}
